<!-- inherit from base.html-->
{% extends "nicurx_app/base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}

<div style="text-align: center;">
    <br>
    <img src="{% static 'images/brand_alpha.png' %}" width="500" height="100" style="display: block; margin: 0 auto;">
    <br>
    <h1><strong>Accessibility Practices</strong></h1>
</div>
<br>
<div class="outerDiv"> 
        <div class="myDiv">
            <span class="textColor">
                <p>NICURx takes accessibility seriously when it comes to designing our web app. NICURx uses a wide array of 
                    design features to ensure that our technology is inclusive. Designed to be used by all users with any range 
                    of abilities, NICURx emphasizes an inclusive design philosophy that ensures accessibility, usability, and 
                    convenience are at the core of its functionality. We encourage anyone who finds this app inaccessible to
                    submit email us using the 'Contact Us' link below. The following practices are implemented within this web app.
                </p>
            </span>
        </div>
    </div> 
</div>
<br>
<div class="outerDiv">
    <div class="myDiv">
        <span style="color: black;">
        <h2>Accessibility Design Practices</h2>
        <ul>
        <li>Writen in plain English/ simple sentences</li>
        <li>Descriptive buttons/ links /headings</li>
        <li>Simple colors/ Color contrast >4.5</li>
        <li>Uses color, shapes, and text to convey information</li>
        <li>All info published in webpage</li>
        <li>Buttons in page context</li>
        <li>Responsive containers useful for mobile/touchscreen devices</li>
        <li>Linear and logical layout</li>
        </ul> 
    </div>
</div>
<br><a href="{% url 'index' %}" class="btn btn-primary custom-btn-primary">Home</a>
{% endblock %}