{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<head>
  {% load static %}
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NICURx</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>NICURx</title>
</head>

<!-- Body -->
<body>
  <div class="fixed-background"></div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar-color">
    <img src="{% static 'images/logo_white.png' %}" width="50" height="50">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active me-4" aria-current="page" href="{% url 'index' %}">Home</a>
            <a class="nav-link active me-4" aria-current="page" href="{% url 'patient_list' %}">Practitioners</a>
            <a class="nav-link active me-4" aria-current="page" href="{% url 'patient_grid' %}">Patients</a>
            <a class="nav-link active me-4" aria-current="page" href="{% url 'patient_history' %}">History</a>
            <a class="nav-link active" aria-current="page" href="{% url 'profile_grid' %}">Medication Profiles</a>
          </div>
            <div class="ms-auto">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}" style="color: white">Login</a>
            {% if user.is_authenticated %}
                
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
        
         </div>
       </div>
     </nav>


       <div class="col-sm-10">
         <!-- add block content from html template -->
         {% block content %}
         {% endblock %}
       </div>
     </div>
   </div>
</body>

<!-- Footer -->
<img src="{% static 'images/stork.png' %}" alt="Character Image" class="fixed-character">
<footer class="footer">
  <div class="footer-links">
    <div>
      <a href="/contact_info/">Contact Us</a>
    </div>
    <a href="/disclaimer/">Disclaimer</a>
    <div>
      <a href="/accessibility/">Accessibility</a>
    </div>
    <div>
      Version 0.0.1
    </div>
  </div>
</footer>

