<!-- inherit from base.html-->
{% extends "nicurx_app/base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div style="text-align: center;">
    <br><img src="{% static 'images/brand_alpha.png' %}" width="500" height="100" style="display: block; margin: 0 auto;">
    <br><h1><strong>Welcome to NICURx!</strong></h1>
    <br>
<div class="outerDiv"> 
        <div class="myDiv">
            <span class="textColor">
                <p>NICURx is a medical-grade calculator used to automatically determine medication doses for neonates. Intended for use by 
                    neonatal intensive care unit (NICU) practitioners. NICURx makes checking all calculations for NICU patients simpler. With its abilities to create
                    a medical record for each patient and select which medications patients are on, automatic calculations are readily available
                    to practitioners.</p>
            </span>
        </div>
    </div> 
</div>

<br><div class="card custom-card">     
    <div class="card-header custom-card-header style=text-align: left;">
        <h5 class="mb-0">
            <h3><strong>Begin by selecting your role below</strong></h3>
        </h5>
    </div>
    <div class="card-body" style="text-align: center;">
        <p class="card-text">
            <div class="container">
                <a href="/patient_list/" class="btn btn-primary custom-btn-primary">Practitioners</a>
                <br><br><a href="{% url 'login' %}" class="btn btn-primary custom-btn-primary">Supervisor Login</a>
                  </div>
        </p>
    </div>
</div>

</div>

{% endblock content %}