<!-- inherit from base.html-->
{% extends "nicurx_app/base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div style="text-align: center;">
    <img src="{% static 'images/brand_alpha.png' %}" width="500" height="100" style="display: block; margin: 0 auto;">
    <br><h1><strong>Welcome to NICURx!</strong></h1>
    <style>
        .myDiv {
            border: 4px outset #1b425c;
            background-color: #F7F7F7;    
            text-align: left; 
        }
        </style>
    <br><div style="width: 80%; margin: 0 auto; text-align: left;"> 
        <div class="myDiv">
            <span style="color: black;">
                <p>NICURx is a medical-grade calculator used to automatically determine medication doses for neonates. Intended for use by 
                    neonatal intensive care unit (NICU) practitioners. NICURx makes checking all calculations for NICU patients simpler. With its abilities to create
                    a medical record for each patient and select which medications patients are on, automatic calculations are readily available
                    to practitioners.</p>
        </div>
    </div>
    
</div>
<div style="text-align: center;">
    <br><h1><strong>Begin by selecting your role below</strong></h1>
    <br><a href="{{ i.portfolio.get_absolute_url}}" class="btn btn-primary" style="background-color: #737373; border-color: #1b425c;">For Practitioners</a>
    <br><br><a href="{{ i.portfolio.get_absolute_url}}" class="btn btn-primary" style="background-color: #737373; border-color: #1b425c;">Supervisor Login</a>
</div>
<br>
    <ul class="list-group">
        {% for i in student_active_portfolios %}
            <li class="list-group-item"  style="background-color: #FCFFEB">Name: {{i.name}}
                <p><strong>Portfolio: {{ i.portfolio.title }}
                    <a href="{{ i.portfolio.get_absolute_url}}" class="btn btn-primary" style="background-color: #6B3200; border-color: #6B3200;">View</a>             
                    
                </strong></p>
            </li>
        {% endfor %}
    <ul>

{% endblock %}