<!-- inherit from base.html-->
{% extends "nicurx_app/base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div style="text-align: center;">
    <br><h1><strong>Current Patients</strong></h1>
    <br><a href="{% url 'create-patient' %}" class="btn btn-primary custom-btn-primary">New Patient</a>
</div>

<br>
    <ul class="list-group">
        {% for patient in active_patients %}
        
        <div class="card custom-card">
          
            <div class="card-header custom-card-header style=text-align: left;">
                <h5 class="mb-0">
                    <div class="container">
                    <div class="row">
                        <div class="col text-start">{{ patient.last_name }}, {{ patient.first_name }}</div>
                        <div class="col text-start">ID: {{ patient.id_number }}</div>
                        <div class="col text-start">DOB: {{ patient.date_of_birth }}</div>
                        <div class="col text-end"><a href="{{ patient.get_absolute_url }}" class="btn btn-primary custom-btn-secondary">View</a></div>
                        <div class="col"><a href="{% url 'discharge-patient' patient_id=patient.id %}" class="btn btn-primary custom-btn-secondary">Discharge</a></div>
                </h5>
            </div>
              
            <div class="card-body" style="text-align: left; color: black;">
                <p class="card-text">
                    <div class="container">
                            <div class="row">
                                <div class="col"><strong>Weight (kg): </strong>{{ patient.weight}} </div>
                                <div class="col"><strong>Height (cm): </strong>{{ patient.height }}</div>
                                <div class="col"><strong>Body Surface Area (m^2): </strong>{{ patient.calculate_bsa|floatformat:2 }}</div>
                              </div>
                          </div>
                </p>
            </div>
        </div>
        {% empty %}<div class="">There are no current patients</div>
        {% endfor %}    
    <ul>
{% endblock content %}

