<!-- inherit from base.html-->
{% extends "nicurx_app/base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div style="text-align: center;">
    <br><h1><strong>Current Patients</strong></h1>
</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-auto">
            <a href="/patient_grid/" class="btn btn-primary custom-btn-primary">Sort by Name</a>
        </div>
        <div class="col-auto">
            <a href="/patient_grid_ID/" class="btn btn-primary custom-btn-primary">Sort by ID</a>
        </div>
        <div class="col-auto">
            <a href="/patient_grid_status/" class="btn btn-primary custom-btn-primary">Sort by Status</a>
        </div>
    </div>
</div>
<br>
<div class="container">
      <div class="row" style="background-color: #1b425c; color: white">
        <div class="col text-start">Patient Name</div>
        <div class="col text-start">Patient ID</div>
        <div class="col text-start">Date of Birth</div>
        <div class="col text-start">Weight (kg)</div>
        <div class="col text-start">Height (cm)</div>
        <div class="col text-start">BSA (m2)</div>
        <div class="col text-start"># Meds</div>
        <div class="col text-start">High Risk?</div>
        <div class="col text-start">Status</div>
      </div>
  </div>
        <div class="container">
          {% for i in active_patients %}
          {% if forloop.counter|divisibleby:2 %}
              <div class="row" style="background-color: #fcffeb;">
          {% else %}
              <div class="row" style="background-color: #f2f2f2;">
          {% endif %}
                  <div class="col text-start"><a href="{{ i.get_absolute_url }}">{{ i.last_name }}, {{ i.first_name }}</a></div>
                  <div class="col text-start">{{ i.id_number }}</div>
                  <div class="col text-start">{{ i.date_of_birth }}</div>
                  <div class="col text-start">{{ i.weight }}</div>
                  <div class="col text-start">{{ i.height }}</div>
                  <div class="col text-start">{{ i.calculate_bsa|floatformat:2 }}</div>
                  <div class="col text-start">{{ i.medication_profile.number_medications }}</div>
                  <div class="col text-start">{{ i.medication_profile.has_high_risk_med }}</div>
                  <div class="col text-start">
                    {% if i.medication_profile.has_issues %}
                        <img src="{% static 'images/warning.png' %}" alt="Issues Detected" width="20" height="20">
                    {% else %}
                        <img src="{% static 'images/ok.png' %}" alt="No Issues" width="20" height="20">
                    {% endif %}
                </div>
              </div>
            {% empty %}<div class="">There are no current patients</div>
      {% endfor %}
  </div>
          
    <ul>

        
{% endblock content %}