<!-- inherit from base.html-->
{% extends 'nicurx_app/base_template.html' %}

<!-- Replace block content in base_template.html -->
{%block content %}
<br><h2><strong>Are you sure you want to discharge this patient?</strong></h2>
<h5>This deactivates a patient profile. It will be logged in the patient history.</h5>
<br><div class="card custom-card">     
    <div class="card-header custom-card-header style=text-align: left;">
        <h5 class="mb-0">
            <div class="container">
            <div class="row">
                <div class="col text-start">{{ patient.last_name }}, {{ patient.first_name }}</div>
                <div class="col text-start">ID: {{ patient.id_number }}</div>
                <div class="col text-start">DOB: {{ patient.date_of_birth }}</div>
        </h5>
    </div>
    <div class="card-body" style="text-align: left; color: black;">
        <p class="card-text">
            <div class="container">
                    <div class="row">
                        <div class="col"><strong>Weight (kg): </strong>{{ patient.weight}} </div>
                        <div class="col"><strong>Height (cm): </strong>{{ patient.height }}</div>
                        <div class="col"><strong>Body Surface Area (m^2): </strong>{{ patient.calculate_bsa|floatformat:2 }}</div>
                      </div>
                  </div>
        </p>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <br><a href="{% url 'patient_list' %}" class="btn btn-primary custom-btn-primary" style="padding-top: 3px; padding-bottom: 3px;">Cancel</a>
    <input type="submit" name="Submit" value="Submit">
</form>
{% endblock %}