<!-- inherit from base.html-->
{% extends "nicurx_app/base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div style="text-align: center;">
    <br><h1><strong>Current Patients</strong></h1>
    <a href="" class="btn btn-primary custom-btn-primary">New Patient</a>
</div>

<br>
    <ul class="list-group">
        {% for patient in active_patients %}
        
        <div class="card custom-card">
            
                <div class="card-header custom-card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">{{ patient.last_name }}, {{ patient.first_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                        ID: {{ patient.id_number }}&nbsp;&nbsp;&nbsp;&nbsp;DOB: {{ patient.date_of_birth }}</h5>
                    <a href="{{ patient.get_absolute_url }}" class="btn btn-primary custom-btn-primary">View</a>
                </div>        
            <div class="card-body" style="text-align: left;">
                <p class="card-text">
                    <div class="container">
                            <div class="row">
                                <div class="col"><strong>Weight (kg): </strong>{{ patient.weight}} </div>
                                <div class="col"><strong>Height (cm): </strong>{{ patient.height }}</div>
                                <div class="col"><strong>Body Surface Area (m^2): </strong>{{ patient.calculate_bsa|floatformat:2 }}</div>
                              </div>
                          </div>
                </p>
            </div>
        </div>
        {% endfor %}          
    <ul>

{% endblock content %}

