<!-- inherit from base.html-->
{% extends "nicurx_app/base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div style="text-align: center;">
    <br><h1><strong>Historical Patients</strong></h1>
</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-auto">
            <a href="/patient_history/" class="btn btn-primary custom-btn-primary">Sort by Name</a>
        </div>
        <div class="col-auto">
            <a href="/patient_history_ID/" class="btn btn-primary custom-btn-primary">Sort by ID</a>
        </div>
        <div class="col-auto">
            <a href="/patient_history_ID/" class="btn btn-primary custom-btn-primary">Sort by Discharge Date</a>
        </div>
    </div>
</div>
<br>
<div class="container">
      <div class="row" style="background-color: #1b425c; color: white">
        <div class="col text-start">Patient Name</div>
        <div class="col text-start">Patient ID</div>
        <div class="col text-start">Date of Birth</div>
        <div class="col text-start">Guardian Name</div>
        <div class="col text-start">Discharged On</div>
      </div>
  </div>
        <div class="container">
          {% for i in active_patients %}
          {% if forloop.counter|divisibleby:2 %}
              <div class="row" style="background-color: #fcffeb;">
          {% else %}
              <div class="row" style="background-color: #f2f2f2;">
          {% endif %}
                  <div class="col text-start"><a href="{{ i.get_absolute_url }}">{{ i.last_name }}, {{ i.first_name }}</a></div>
                  <div class="col text-start">{{ i.id_number }}</div>
                  <div class="col text-start">{{ i.date_of_birth }}</div>
                  <div class="col text-start">{{ i.guardian_name }}</div>
                  <div class="col text-start">{{ i.discharge_date }}</div>
              </div>
        {% empty %} <div class="">There are no current patients</div>
      {% endfor %}
  </div>
          
    <ul>

        
{% endblock content %}