<!-- inherit from base.html -->
{% extends 'nicurx_app/base_template.html' %}
{% block content %}

<br><div class="card custom-card">     
  <div class="card-header custom-card-header style=text-align: left;">
      <h5 class="mb-0">
          <h3><strong>Welcome, supervisor {{user}}</strong></h3>
      </h5>
  </div>
  <div class="card-body" style="text-align: center;">
      <p class="card-text">
          <div class="container">
            <a class="btn btn-primary" href="{% url 'logout'%}" role="button">Logout</a>
                </div>
      </p>
  </div>
</div>


    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <input class="btn btn-primary" type="submit" name = "Update">
    </form>

</div>
{% endblock %}
